/* .video {
  display: block;
}

#dropDiv {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid black;
} */

.canvas {
  width: 100%;
}
#dropDiv {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* width: 400px;
  height: 300px; */
  /* border: 1px solid black; */
}
#dropDiv canvas {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.kanvaContainer {
  /* border: 1px solid yellow; */
  /* width: 400px; */
  position: absolute;
  top: 8px;
}
.video {
  width: 100%;
  height: 100vh;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.buttons {
  padding-top: 150px;
}

.App {
  /* min-height: 2000px; */
}
